@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage <Kenan.Modules.WeatherForecaster.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="row">
            <div class="col-2 offset-1">
                @Html.LabelFor(m => Model.AllowManualEditing, new { @class = "control-label" })
            </div>
            
            <div class="col-1">
            @Html.CheckBoxFor(m => Model.AllowManualEditing)
            </div>
        </div>
        
    </div>
</fieldset>

